<% if !current_user %>
  <h2 class="error"><%= flash[:message] %></h2>
<% end %>

<%= form_tag "/login", class: "form-group" do %>
	<%= label_tag :email %><br>
  <%= text_field_tag :email %><br>
  <%= label_tag :password %><br>
	<%= password_field_tag :password %><br><br>
	<%= submit_tag "Login", class: "btn btn-secondary" %>
<% end %>

<p>or login with facebook:</p>
<%= link_to 'Log in with Facebook', '/auth/facebook', class: "btn btn-primary" %>
<br><br>
<p>or <%= link_to 'create a new user', new_user_path %></p>

