<h1>Personal Library</h1>

<div>
  <h2>Books on your shelf</h2>

  <% current_user.self_copies.each do |copy| %>
    <div>
    <img src="<%=copy.book.cover_img%>"><br>
    <%=link_to copy.book.name, copy_path(copy) %><br>
    <%= copy.book.author %><br><br>
    </div>
  <% end %>
</div>
<div>
  <h2>Books you have lended</h2>

  <% current_user.lended_copies.each do |copy| %>
    <div>
      <img src="<%=copy.book.cover_img%>">
    </div>
    <%=link_to copy.book.name, copy_path(copy) %><br>
    <%= copy.book.author %><br>
    Borrowed by <%= link_to copy.current_borrower.name, user_path(copy.current_borrower) %>
    </div>
  <% end %>
</div>


  <div>
      <h3>Add a book to your library</h3>
    <%= render partial: "books/google_book_search", locals: {search: params[:search]} %>
    <br>
  </div>
</div>
