<h1>Welcome to your library <%= current_user.name %>!</h1>

<div>
  <% current_user.copies.each do |copy| %>
  <div>
    <img src="<%=copy.book.cover_img%>">
  </div>
   <p><%=link_to copy.book.name, copy_path(copy) %><br>

   	<% if copy.available? && !copy.open_requests.empty? %>
      <br>Requested by <%=copy.open_requests_names%>
   		<% copy.open_requests.each do |request| %>

        <%= render partial: "lendings/lend_form", locals: {lending: request} %>
   		<% end %>

    <% elsif copy.available? && copy.open_requests.empty? %>

      On the shelf

    <% else %>

      Lended to <%= copy.current_borrower.name %>

   	<% end %>
   </p>
  <% end %>
</div>
