<h1><%= @copy.book.name %></h1>
<h2>Author: <%= @copy.book.author %></h2>
<h2>Owner: <%= link_to @copy.user.name, user_path(@copy.user) %></h2>
<div>
  <img src="<%=@copy.book.cover_img%>">
</div>
<div>
  Condition: <%= @copy.condition %><br>
  Purchased Date: <%= @copy.purchased_date %><br>
  Notes: <%= @copy.notes %><br>
  Status: <%= @copy.available? ? "Available" : "Currently borrowed by #{@copy.current_borrower}. Return date: #{@copy.current_lending.first.formatted_due_date}" %>
</div>
<div>

  <%= render partial: "lendings/borrow_form", locals: {copy: @copy, lending: @lending} %>

</div>


