<h1>Analytics</h1>
<p>user_count: <%= @user_count %></p>
<p>book_count: <%= @book_count %></p>
<p>copy_count: <%= @copy_count %></p>
<p>lending_count: <%= @lending_count %></p>
<p>active_lending_count: <%= @active_lending_count %></p>
<p>average_library_size: <%= @average_library_size %></p>
<p>worst_rated_user: <%= "#{@worst_rated_user.name} #{@worst_rated_user.average_rating}" %></p>
<p>best_rated_user: <%= "#{@best_rated_user.name} #{@best_rated_user.average_rating}" %></p>
