<h1><%= @user.name %></h1>
<h2>Library</h2>
<div class="row">
  <% @user.copies.each do |copy| %>
    <div class="col-md-2 shadow p-3 mb-5 bg-white" >
      <a href="<%=copy_path(copy)%>"><img src="<%=copy.book.cover_img%>"" class="rounded mx-auto d-block img-thumbnail mr-md-6"></a>
      <br>
      <strong><%=copy.book.name %></strong><br>
      Author: <%=copy.book.author%>
    </div>
  <% end %>
</div>

