<h1><%= @user.name %></h1>

<h2>Library</h2>
<div>
  <% @user.copies.each do |copy| %>
  <div>
    <img src="<%=copy.book.cover_img%>">
  </div>
   <p>
    <%=link_to copy.book.name, copy_path(copy) %>
   </p>
  <% end %>
</div>
<div>
  <h2>Borrowed Books</h2>
  <% @user.borrowings.each do |borrowing| %>
    <div>
      <img src="<%=borrowing.copy.book.cover_img%>">
    </div>
    <p>
      Book Title: <%= borrowing.copy.book.name %><br>
      Book Owner: <%= borrowing.copy.user.name %><br>
    </p>
  <% end %>
</div>
