<h1><%= @user.name %></h1>

<h2>Library</h2>
<div>
  <% @user.copies.each do |copy| %>
  <div>
    <img src="<%=copy.book.cover_img%>">
  </div>
   <p>
    <%=link_to copy.book.name, copy_path(copy) %>
   </p>
  <% end %>
</div>
<div>

  <% if !@user.active_borrowings.empty? %>
  <h2>Borrowed Books</h2>
    <% @user.active_borrowings.each do |lending| %>
      <%= render partial: "lendings/list_lendings", locals: {lending: lending} %>
      <%= render partial: "lendings/return_form", locals: {copy: lending.copy, lending: lending} %>
      <br>
    <% end %>
  <% end %>

  <% if !@user.requested_borrowings.empty? %>
  <h2>Requested Books</h2>
    <% @user.requested_borrowings.each do |lending| %>
      <%= render partial: "lendings/list_lendings", locals: {lending: lending} %>
    <% end %>
  <% end %>

</div>
