<h1>Borrowed Books</h1>
<div>
  <h2>Checked Out</h2>
  <div class="row">
    <% if !current_user.active_borrowings.empty? %>
      <% current_user.active_borrowings.each do |lending| %>
      <div class="col-md-2 shadow p-3 mb-5 bg-white" >
        <a href="<%=copy_path(lending.copy)%>"><img src="<%=lending.copy.book.cover_img%>"" class="rounded mx-auto d-block img-thumbnail mr-md-6"></a>
          <%= link_to lending.copy.book.name, copy_path(lending.copy) %><br>
          Friend: <%= link_to lending.user.name, user_path(lending.user)%>
          <%= render partial: "lendings/return_form", locals: {copy: lending.copy, lending: lending} %>
        </div>
      <% end %>
    <% else %>
    <div class="col-sm-2">
      <p>You have not borrowed any books recently.</p>
    </div>
    <% end %>
  </div>
</div>
<br>
<div>
  <h2>Requested</h2>
  <div class="row">
    <% if !current_user.requested_borrowings.empty? %>
      <% current_user.requested_borrowings.each do |lending| %>
      <div class="col-md-2 shadow p-3 mb-5 bg-white" >
        <a href="<%=copy_path(lending.copy)%>"><img src="<%=lending.copy.book.cover_img%>"" class="rounded mx-auto d-block img-thumbnail mr-md-6"></a>
        <%= lending.copy.book.name %><br>
        Friend: <%= link_to lending.user.name, user_path(lending.user)%>
        </div>
      <% end %>
    <% else %>
    <div class="col-sm-2">
      <p>You have not requested any books.</p>
    </div>
    <% end %>
  </div>
</div>
