<h3>Books that are currently lent to your friends</h3>

	<% current_user.active_lendings.each do |lending| %>
		<%= render partial: "list_lendings", locals:{lending: lending} %>
		Due Date: <%= lending.formatted_due_date %><br>
	<% end %>



<h3>Rate your friends that have returned borrowed books</h3>
	<% current_user.past_unrated_lendings.each do |lending| %>
		<%= render partial: "list_lendings", locals:{lending: lending} %>
		Borrower: <%= lending.borrower.name %><br>
		<%= render partial: "rate_lending_form", locals: {lending: lending} %>
		<br>
	<% end %>

