<div>
<h2>Rate your past lending experiences</h2>
  <div class="row">
  <% if !current_user.past_unrated_lendings.empty? %>
    <% current_user.past_unrated_lendings.each do |lending| %>
      <div class="col-md-2 shadow p-3 mb-5 bg-white" >
        <%= render partial: "book_view", locals: {lending: lending} %>
        Borrower: <%= link_to lending.borrower.name, user_path(lending.borrower) %><br>
        Lend Date: <%= lending.formatted_lend_date %><br>
        <%= render partial: "rate_borrower_form", locals: {lending: lending} %>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-6">
      There are no outstanding ratings.
    </div>
    <br><br>
  <% end %>
  </div>
</div>
<div>
  <h2>Open book requests from friends</h2>
  <div class="row">
    <% if current_user.requested_lendings.empty? %>
      <div class="col-md-3">You have no pending requests.</div>
    <% end %>
    <% current_user.requested_lendings.each do |lending| %>
      <div class="col-md-2 shadow p-3 mb-5 bg-white" >
      <%= render partial: "book_view", locals: {lending: lending} %>
      Requested by:<br>
      <%= link_to lending.borrower.name, user_path(lending.borrower) %> (<%=lending.borrower.average_rating%>)<br>
      <%= render partial: "lend_form", locals: {lending: lending} %>
     </div>
    <% end %>
  </div>
</div>
<br>
<div>
<h2>Books currently lended to friends</h2>
<div class="row">
    <% if current_user.active_lendings.empty? %>
      <div class="col-md-3">You don't have any lended books for now.</div>
    <% end %>
<% current_user.active_lendings.each do |lending| %>
  <div class="col-md-2 shadow p-3 mb-5 bg-white" >
    <%= render partial: "book_view", locals: {lending: lending} %>
    Borrower: <%= link_to lending.borrower.name, user_path(lending.borrower) %><br>
    Due Date: <%= lending.formatted_due_date %>
  </div>
<% end %>
</div>
</div>






