<h1>Search your friend's books</h1>

<%= form_tag new_lending_path, method: "GET" do  %>
  <%= text_field_tag "search", params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<br><br>

<div>
  <% if params[:search] %>
    <% @book_list.each do |book| %>

    <div>

      <img src="<%= book.cover_img %>"><br>
      <strong><%= "#{book.name}"%></strong><br>
      <%= "Author: #{book.author}" %>
      <br>
      <strong>Friend Copies</strong>
      <ul>
        <li>
      <% book.friend_copies(current_user).each do |copy| %>
       <%= link_to "#{copy.user.name} - Condition: #{copy.condition}", copy_path(copy) %>
      <% end %>
        </li>
      </ul>

    </div>

    <% end %>
  <% end %>
</div>
