<!DOCTYPE html>
<html>
  <head>
    <title>LostPages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="<%=home_path%>">Library</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%=friends_path%>">Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="<%= borrowings_path %>">Borrowed Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="<%= lendings_path  %>">Manage Lendings</a>
          </li>
        </ul>
        <%= form_tag new_lending_path, method: "GET", class: "form-inline my-2 my-lg-0" do  %>
          <%= text_field_tag "search", params[:search], class: "form-control mr-sm-2" %>
          <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      </div>
    </nav>
    <div class="container-fluid ">
      <%= yield %>
    </div>
    <hr>
    <% if current_user %>
      <p>
        Current User: <%= current_user.email %><br>
        <%= link_to "Logout", '/logout', method: "DELETE" %>
      </p>
    <% else %>
      <p>
        <%= link_to "Login", new_session_path %>
      </p>
    <% end %>
    <br><br>
    <%= link_to "Users", users_path %><br>
  </body>
</html>
