<!DOCTYPE html>
<html>
  <head>
    <title>LostPages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br><br>
    <hr>
    <% if current_user %>
      <p>
        Current User: <%= current_user.email %><br>
        <%= link_to "Logout", '/logout', method: "DELETE" %>
      </p>
    <% else %>
      <p>
        <%= link_to "Login", new_session_path %>
      </p>
    <% end %>
    <br><br>
    <%= link_to "All Users", users_path %><br>
    <%= link_to "My Library", copies_path %><br>
    <%= link_to "My Friends", friends_path %>
  </body>
</html>
